page-filters {
  .photo{
    position: relative;
    overflow: hidden;
    height: 80px;
    width: 100%;
    &.cover{
      height: 300px;
    }
  }
  .scroll{
    height: 133px;
    ion-row{
      flex-wrap: nowrap;
    }
  }
  figure{
    margin: 0px;
  }
}
